<div class="col-md-4">
    <div class="card-box-d">
      <div class="card-img-d">
        <img src="{{ agent.image.url }}" alt="" class="img-d img-fluid">
      </div>
      <div class="card-overlay card-overlay-hover">
        <div class="card-header-d">
          <div class="card-title-d align-self-center">
            <h3 class="title-d">
              <a href="{% url 'agent' agent.slug %}" class="link-two">{{ agent.first_name }} {{ agent.last_name }}
                <br> Escala</a>
            </h3>
          </div>
        </div>
        <div class="card-body-d">
          <p class="content-d color-text-a">
           {{ agent.description }}
          </p>
          <div class="info-agents color-a">
            <p>
              <strong>Phone: </strong> {{ agent.phone_number }}
            </p>
            <p>
              <strong>Email: </strong> {{ agent.email }}
            </p>
          </div>
        </div>
        <div class="card-footer-d">
          <div class="socials-footer d-flex justify-content-center">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#" class="link-one">
                  <i class="bi bi-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="link-one">
                  <i class="bi bi-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="link-one">
                  <i class="bi bi-instagram" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="link-one">
                  <i class="bi bi-linkedin" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>