#appartements {
  margin-top: 50px;
}

.appartement-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.appartement {
  width: 30%;
  margin-bottom: 40px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
}

.appartement img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.appartement h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.appartement p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.filters {
  margin-top: 30px
 }
 form {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 20px;
  width: 400px;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  width: 100%;
}

.btn {
  border-radius: 0;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px

